html, body {
  margin: 0;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

$light-gray: #f4f4f4;
$title-gray: #121212;
$text-gray: #444444;
$greenish: #50e3c2;
$header-blue: #263c61;
$event-blue-background: #0e1e38;

@media (min-width: 1600px) {
  .container {
    width: 1450px;
  }
}

img {
    max-width: 100%;
}

.flat-btn {
  &:visited, &:hover { text-decoration: none; }
  background: $greenish;
  font-size: 19px;
  color: white ;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 10px;
  border: none;
}

.border-btn {
  @extend .flat-btn;
  background: transparent;
  border: 1px solid $greenish;
  color: $greenish;
}

.social-media {
  min-height: 66px;
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;

  .slack-form {
    
    label { 
      margin-right: 15px; 
      i { margin-right: 5px; }
    }
  }
}

.social-icons {
  display: flex;
  width: 100%;

  .sm-link {
    color: #c7cbcc;
    font-size: 10px;
    text-transform: uppercase;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    span.fa-stack {
      color: white;
      
      .fa-github { color: black; font-size: 2em; }
    }

    &:nth-child(1) i.fa-circle { color: #00b0fa; }
    &:nth-child(2) i.fa-circle { color: #1f5e94; }
    &:nth-child(3) i.fa-circle { color: #d74e3e; }
  }
}

.logo-menu {
  padding: 30px 0 0;

  .motto {
    margin: 1em 0;
    
    header { color: $title-gray; font-size:18px; }
    .description { color: #c7cbcc; font-size:13px; }
  }

  .main-menu {
    display: flex;
    text-align: center;
    margin: 1em 0;
    
    a {
      font-size: 18px;
      color: #11414f;
      flex: 1;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
.event-header {
  background: $header-blue;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 10px;
}

.featured-videos {
  border: 15px solid #eee;
  
  > header {
    padding: 15px 30px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;

    .title {color: #373737; font-size:20px;}

    a {
      color: #8d8e90;
      text-transform: uppercase; 
      span {
        display: inline-block;
        line-height: 28px;
        vertical-align: bottom;
      }
    }
    i { color: #e54432; font-size: 2em; margin-right: 20px; }
  }
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 15px;
    flex-wrap: wrap;

    .video {
      img { width: 100%; }
      
      width: 100%;
      margin-bottom: 30px;
      
      .title {
        color: #000;
        font-size: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
      }

      .descr {
        color: #a8a8a8;
        font-size: 13px;
        padding: 15px 0;
        text-align: justify;
        line-height: 1.8em;
      }
    }
  }
  min-height: 300px;
}

footer.main-footer {
  background: #3c3d41;
  color: white;
  text-align: center;
  padding: 50px 0 30px;
  font-size: 14px;

  .menu {
    border-bottom: 1px solid #45464a;
    padding: 0 20px 20px;
    margin: 10px;
    display: flex;
    justify-content: center;

    a { 
      color: white;
      font-size: 14px; 
      margin-right: 20px;

      &:last-child { margin-right: 0px; }
    }
  }

  .copyright, .version { color: #8c8d91; }
}

.contact-us {
  header { @extend .event-header; }
  article {
    .message {
      color: #080808;
      padding: 1.5em 15px;
      font-size: 20px;
    }

    .members {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .member {
        width: 100%;

        img { border-radius: 50%; }

        background: #0d1e38;
        max-width: 270px;
        padding: 30px 0;
        color:white;

        .name {
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 16px;
        }

        .role {
          margin-bottom: 40px;
        }

        .contact {
          a { 
            color:white;
            border-color: white;
            @extend .border-btn; 
            font-size: 10px;
            letter-spacing: 2px;
          }
        }
        &:nth-child(2) { background: #11414f; }
        &:nth-child(3) { background: #00666a; }

        &:last-child { margin-right: 0px; }
      }

      
    }
    text-align: center;
    padding-bottom: 30px;
  }
  background: #eee;
}

.sponsors {
  header { @extend .event-header; }
  
  article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
    
    .sponsor {
      width: 50%;
      display: flex;
      margin-bottom: 15px;
      text-align: center;
      
      a {
          flex: 1;
      }
      
      img {
        width: 90%;
        filter: grayscale(100%);
      }

      a:hover img { filter: grayscale(0); }
    }
  }
}

.list-n-twitter {
  background: #eee;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  min-height: 470px;

  .subscribe, .twitter-stream {
    flex: 0 0 100%;
  }

  .subscribe {
    background: $event-blue-background;
    color: white;
    text-align: center;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;

    header, .signup, .schedule, footer {
      flex: 1;
    }
    
    header { font-size: 28px; }
    .signup { font-size: 16px; color: #9ca8b4; }
    .schedule { color: #2c8188; }
    
    footer { 
      margin-bottom: 0px; 
      a { @extend .border-btn; font-size: 14px; letter-spacing: 8px; }
    }
  }
}


.past-events {
  margin-bottom: 30px;
  
  footer { 
    text-align: center;
    padding: 25px;
    a { @extend .flat-btn; }
  }
  
  article {
    padding: 30px 0 0;
    display: flex;
    flex-wrap: wrap;

    .past-event {
      width: 100%;
      margin-bottom: 30px;
      text-align: left;
      
      &:last-child { margin-right: 0; }
      
      .image img {
        width: 100%;
        background: white;
      }
      
      .info {
        padding: 20px;
        color: white;
        
        .title {font-size: 17px;}
        .date { flex-grow: 1; color: #737a94; font-size: 12px;}
        
        .view {
          text-align: center;
          margin-top: 20px;
          font-size: 12px;
          a {
            &:hover { text-decoration: none; }
            border: 1px solid #b3bbc6;
            color: white;
            border-radius: 15px;
            background: transparent;
            padding: 5px 30px;
            letter-spacing: 5px;
            text-transform: uppercase;
          }
        }
      }
      
      .image, .info {
          background: $event-blue-background;
      }
    }
  }
}

.next-event {
  article {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
    .event-img { 
      width: 100%; 
      text-align: center;
      
      img {width: 100%;}
    }
    
    .event-info { 
      color: $text-gray;

      .title {
        font-size: 30px; 
        margin-bottom: 20px;
        border-bottom: 1px solid $light-gray;
        color: $title-gray;
      }
      
      label {
        margin-bottom: 14px;
        font-size: 12px;
        text-transform: uppercase;
      }
      
      .description {
        font-size: 13px;
        margin-bottom: 43px;
        line-height: 25px;
        text-align: justify;
      }

      .date, .venue {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        padding: 11px 0;
        font-size: 14px;
        
        .name { 
          display: inline-block;
          margin-right: 10px;
          font-weight: bold; 
        }
        .icon {
          margin-right: 20px;
          font-size: 2em;
          text-align: center;
          width: 30px;
          display: inline-block;
          font-weight: bold;
        }
      }
      footer {
        padding: 25px 0 37px;
        text-align: center;
        a { @extend .flat-btn; }
      }
    }
  }
}

@media (min-width: 544px) {
    .logo-menu {
        display: flex;
        flex-wrap: wrap;
        
        img {
            height: 50px;
            min-width: 197px;
        }
        
         .motto {
             margin: 0;
             padding-left: 15px;
             flex: 1;
         }
         
         .main-menu { width: 100%; }
    }
    
    .past-events article .past-event {
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        flex-direction: column;
        
        &:nth-child(odd) { padding-right: 10px; }
        &:nth-child(even) { padding-left: 10px; }
        
        .image { flex: 1 0 auto; }
    }
    
    .contact-us article .members .member,
    .sponsors article .sponsor {
        width: 33.33%;
    }
}

@media (min-width: 768px) {
    .logo-menu {
        display: flex;
        padding-bottom: 1em;
        
        img, .motto, .main-menu { width: auto; }
        
        img {
            height: 50px;
            min-width: 197px;
        }
        
        .main-menu {
            flex: 1 0 110px;
            text-align: right;
            padding: 0;
            margin: 0;
        }
    }
    
    .slack-form { flex: 0 0 40%; }
    
    .social-icons {
        flex: 0 0 60%;
        max-width: 480px;
        border-left: 1px solid #f4f4f4;
        padding-left: 30px;
        
        .sm-link {
            flex-direction: row;
            
            &:last-child { flex: 0; }
        }
        
        .fa-stack { margin-right: 4px; }
    }
    
    .next-event article {
        .event-info {
            width: 60%;
            padding: 0 30px 0;    
        } 
        .event-img {
            width: 40%;
        }
    }
    
    .list-n-twitter {
        .subscribe {
            flex: 0 0 70%;
        }
        .twitter-stream {
            flex: 0 0 30%;
            padding: 15px;
        }
    }
}

@media (min-width: 992px) {
    
    .past-events article {
        margin-left: -10px;
        margin-right: -10px;
        
        .past-event {
            width: 25%;
            padding: 0 10px;
        }
    }
    
    .featured-videos article .video {
        width: 50%;
        padding: 0 15px;
    }
    
    .sponsors article .sponsor {
        flex: 1;
    }
}